<launch>
  <group ns="camera">
    <node name="camera" pkg="rm_openni2_camera" type="camera" output="screen" />
    <param name="depth/image_raw/libav/codec" value="ffv1" />
    <param name="depth/image_raw/libav/pixel_format" value="gray16" />
    <param name="rgb/image_raw/libav/gop_size" value="10" />
  </group>

  <node name="kinfu_viewer" pkg="image_transport_viewer" type="viewer" args="/camera/kinfuLS/depth" output="screen" >
    <param name="image_transport" value="libav" />
  </node>
</launch>
